[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
pymongo = "*"
dotenv = "*"
streamlit-awesome-table = "*"
streamlit-extras = "*"
boto3 = "*"
streamlit-authenticator-mongo = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
dropbox = "*"

[dev-packages]

[requires]
python_version = "3.13"
